*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #E6E6E6 !important;
	font-family: Merriweather !important;
}

.container{
	position: absolute;
	max-width: 800px;
	height: 500px;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* LOG IN & REGISTER */

.myRightCtn{
	position: relative;
	background-image: linear-gradient(to bottom right, #ff6e00, #ff7e24, #ff8d3c, #ff9c52, #ffa967);
	border-radius: 0px 25px 25px 0px;
	height: 100%;
	padding: 25px;
	color: #39393A;
	display: flex;
	align-items: center;
} 

.myLeftCtn{
	position: relative;
	background: #fff;
	border-radius: 25px;
	height: 100%;
	padding-left: 50px;
	padding-top: 60px;
	font-size: 20px;
}


#register-page{
	position: absolute;
	background-image: linear-gradient(to bottom right, #ff6e00, #ff7e24, #ff8d3c, #ff9c52, #ffa967);
	border-radius: 25px;
	width: 400px;
	height: 600px;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}	


.myLeftCtn header{
	color: #ff6e00;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
}

.row{
	height: 100%;
}

.loginCard{
	position: relative;
	background: #fff;
	height: 100%;
	border-radius: 25px;
	-webkit-box-shadow: 0 px 10px 40px -10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}

.myRightCtn header{
	color: #ffffff;
	font-size: 40px;
}

.box{
	position: relative;
	margin: 20px;
	margin-bottom: 100px;
}

.loginInput, .registerInput{
	width: 250px;
	border-radius: 25px;
	border: 1px solid #DFF8D5;
	padding: 10px;
	padding-left: 50px;
	border: none;
	-webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
}

.loginInput:focus , .registerInput:focus{
	outline: none;
}

.loginForm, .registerForm{
	position: relative;
	margin-top: 50px;
}

.loginForm{
	margin-bottom: 20px;
	margin-right: 20px;
}

.loginBtn{
	background: linear-gradient(#ff6e00, #ffa967);
	color: #fff;
	width: 230px;
	border: none;
	border-radius: 25px;
	padding: 10px;
	transition: all .2s ease-in-out; 
	cursor: pointer;
	-webkit-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
}

.registerBtn{
	background: #39393A;
	color: #fff;
	width: 250px;
	border: none;
	border-radius: 25px;
	padding: 10px;
	transition: all .2s ease-in-out; 
	cursor: pointer;
	-webkit-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
}
.loginBtn:hover, .registerBtn:hover, .backToLogInBtn:hover{
	background: linear-gradient(#fd8930, #fdb47d);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.1); 
}

.loginBtn:focus, .registerBtn:focus{
	outline: none;
}

#inputIcon, #togglePassword{
	position: relative;
	color:black;
	left: 36px;
}

.goToRegisterBtn{
	background: #1B3D2F;
	color: #fff;
	width: 120px;
	border: none;
	border-radius: 25px;
	padding: 10px;
	transition: all .2s ease-in-out; 
	cursor: pointer;
	-webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
}

.goToRegisterBtn:hover{
	background-color:#1B3D2F;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.1); 
}

.goToRegisterBtn:focus, .backToLogInBtn:focus{
	outline: none;
}
.register header{
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: bold;
}

.form-group{
	margin-bottom: 10px;
	margin-right: 20px;
}

.backToLogInBtn{
	background: #000000;
	color: #FFFFFF;
	width: 150px;
	border: none;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
	transition: all .2s ease-in-out; 
	cursor: pointer;
	-webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
}
/* LOG IN & REGISTER END */

/* NAVBAR */
#mainNavBar{
	align-items: center;
}

#navbarSearch{
	margin-left: 100px;
}

#mainTitle{
	display:relative;
	color: #ffffff;
	font-size: 25px;
	cursor: pointer;
}

#mainNavTabs{
	display: flex;
	justify-content:center;
}

#mainNavLink{
	font-size:20px;
	color: #fd6e00 !important;
	margin-bottom:0px;
	margin-left: 10px;
	padding: 10px;
	cursor: pointer;
}

#mainNavLink:hover{
	color: #006e5e !important;
}

#mainNavLink:active{
	color:#ffffff!important;
}

#rightMainNavBar{
	display: flex;
	justify-content: end;
	margin-right: 5px;
}

#shoppingCartIcon{
	color:#ffffff;
	margin-right: 50px;
}

#shoppingCartBtn{
	border:none;
}

#searchBtn{
	border-color:#ff6e00;
	color:#ff6e00;
	margin-left: 5px;
}

#searchBtn:hover{
	border-color:#ff6e00;
	color:#ffffff;
	background-color: #006e5e;
	border-color: #ffffff;
	margin-left: 5px;
}

#logOutBtn{
	background-color: #ff6e00;
	border: none;
	margin-left: 50px;
}

#logOutBtn:hover{
	background-color: #006e5e;
	border: none;
	margin-left: 50px;
}
/* NAVBAR END */

/* HOMEPAGE*/
#welcome{
	font-size: 40px;
}

#new{
	margin-top: 100px;
	font-size: 25px;
}

#newestMovies{
	display:flex;
	justify-content:center;
}

#newestMovies p{
	font-size: 20px;
}

#newestMovies .card{
	display: relative;
	height: 400px;
	width: 300px;
	object-fit:cover;
	background-color: #E6E6E6;
	border: none;
	margin-left: 100px;
}
/* HOMEPAGE END */

/* MOVIES PAGE */
#moviesPage{
	display:none;
}

#movieCard{
	height: 300px;
	width: 200px;
	background-color:#E6E6E6;
	border: none;
	margin-left: 20px;
	margin-right: 20px;
	padding:none;
}

#movieImg{
	height: 300px;
	width: 200px;
}


#movie, #addCartBtn, #moviesBackBtn{
	transition: all .3s ease-in-out; 
	cursor: pointer;
}

#movie:hover, #addCartBtn:hover, #moviesBackBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.2); 
}

#addCartBtn, #moviesBackBtn{
	transition: all .2s ease-in-out; 
	cursor: pointer;
}

#addCartBtn:hover, #moviesBackBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.1); 
}

#movieCardTitle{
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
}

#newestMoviesRow{
	margin-top: 50px;
}

#otherMoviesTitle{
	margin-top: 40px;
}

.avengersInfWar{
	display: none;
}

.shangchi{
	display:none;
}

.encanto{
	display:none;
}

.shawshank{
	display:none;
}

.godfather{
	display:none;
}

.theMatrixResurrections{
	display:none;
}

.ronsGoneWrong{
	display:none;
}

.venomLetThereBeCarnage{
	display:none;
}

.joker{
	display:none;
}

.darkKnight{
	display:none;
}

.avengersEndGame{
	display:none;
}

.trainToBusan{
	display:none;
}

.moana{
	display:none;
}

.fantasticBeasts{
	display:none;
}

.interstellar{
	display:none;
}

.inception{
	display:none;
}

.grownUps{
	display:none;
}
.dearJohn{
	display:none;
}
.threeHundred{
	display:none;
}
.notebook{
	display:none;
}
.forrestGump{
	display:none;
}
/* MOVIES PAGE END */

/* MUSIC PAGE */
#musicCard{
	height: 200px;
	width: 200px;
	background-color:#E6E6E6;
	border: none;
	margin-left: 20px;
	margin-right: 20px;
	padding:none;
}

#musicImg{
	height: 200px;
	width: 200px;
}

#music, #addCartBtn, #musicBackBtn{
	transition: all .3s ease-in-out; 
	cursor: pointer;
}

#music:hover, #addCartBtn:hover, #musicBackBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.2); 
}


#newestMusicRow, #musicRow{
	margin-top: 50px;
}

#otherMusicTitle{
	margin-top: 60px;
}

.wonder{
	display: none;
}

.anEveningWithSilkSonic{
	display: none;
}

.oneNightInMalibu{
	display: none;
}

.scenicDrive{
	display: none;
}

.a30{
	display: none;
}

.red{
	display: none;
}

.jubilee{
	display: none;
}

.callMeIfYouGetLost{
	display: none;
}

.cultureiii{
	display: none;
}

.happierThanEver{
	display: none;
}

.heartAndSoul{
	display: none;
}

.justice{
	display: none;
}

.outsideChild{
	display: none;
}

.reckless{
	display: none;
}

.roadRunner{
	display: none;
}

.scaledAndIcy{
	display: none;
}

.sometimesIMightBeIntrovert{
	display: none;
}

.sour{
	display: none;
}

.theOffSeason{
	display: none;
}

.v{
	display: none;
}

#tracklist{
	border: 1px solid #000000;
	overflow: auto;
	height: 200px;
	width: 500px;
}

#list{
	list-style: numbers;
	
}
/* MUSIC PAGE END */

/* GAMES PAGE */
#gamesPage{
	display:none;
}

#gameCard{
	height: 300px;
	width: 200px;
	background-color:#E6E6E6;
	border: none;
	margin-left: 20px;
	margin-right: 20px;
	padding:none;
}

#gameImg{
	height: 300px;
	width: 200px;
}


#game, #addCartBtn, #gamesBackBtn{
	transition: all .3s ease-in-out; 
	cursor: pointer;
}

#game:hover, #addCartBtn:hover, #gamesBackBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.2); 
}

#addCartBtn, #gamesBackBtn{
	transition: all .2s ease-in-out; 
	cursor: pointer;
}

#addCartBtn:hover, #gamesBackBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.1); 
}

#gameCardTitle{
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
}

#newestGamesRow{
	margin-top: 50px;
}

#otherGamesTitle{
	margin-top: 40px;
}

.eldenRing{
	display: none;
}

.pokemonLegendsArceus{
	display:none;
}

.tinytinaswonderland{
	display:none;
}

.strangerOfParadise{
	display:none;
}

.wwe2k22{
	display:none;
}

.superSmashBrosUltimate{
	display:none;
}

.gta5{
	display:none;
}

.starWarsFallenOrder{
	display:none;
}

.assassinsCreed{
	display:none;
}

.tomClancysRainbowSixSeige{
	display:none;
}

.pokemonShiningPearl{
	display:none;
}

.monsterHunterRise{
	display:none;
}

.finalFantasy7Remake{
	display:none;
}

.marvelsGuardiansOfTheGalaxy{
	display:none;
}

.shadowOfTheTombRaider{
	display:none;
}

.theElderScrollsV{
	display:none;
}

.deadPool{
	display:none;
}
.spyro{
	display:none;
}
.legoJurassicWorld{
	display:none;
}
.mafiaDefinitiveEdition{
	display:none;
}
.crashBandicoot4{
	display:none;
}
.diabloIII{
	display:none;
}
.devilMayCry5{
	display:none;
}
/* GAMES PAGE END */

/* SHOPPING CARD PAGE */
#cartTitle{
	margin-bottom: 40px;
}

#shoppingCartCard{
	height: 100%; 
	width: 100%;
	background-color: #ffffff;
	padding:30px; 
}

#cartTotals{
	position:sticky;
	top: 0;
	border-left: 2px black solid;
}

#checkoutBtn{
	transition: all .2s ease-in-out; 
	cursor: pointer;
}

#checkoutBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.1); 
}

#emptyCartIcon{
	color:#000000;
	margin: 10px;
}


#cartNumber{
	color: white;
	position: absolute;
	margin-left:20px;
	background-color:#ff6e00;
	border-radius: 50%;
	height: 25px;
	width: 30px;
	top: 15px;
}
/* SHOPPING CART END PAGE */

/* SHIPPING PAGE */
#shippingForm, #billingForm, #paymentForm{
	background-color:white;
	padding: 60px;
	height: auto;
}

.shippingFormInput, .billingFormInput, .paymentFormInput{
	border-radius: 4px;
	border: 2px solid #1B3D2F;
	padding: 10px;
	padding-left: 30px;
	margin: 20px;
	width: 100%;
	-webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 20px -14px rgba(0,0,0,0.7);
}

.shippingFormInput:focus, .billingFormInput:focus, .paymentFormInput:focus{
	outline: none;
}

#continueBtn{
	height:40px; 
	width: 200px; 
	border-radius:10px; 
	background-color: #fd8930; 
	color: #ffffff;
	margin-top: 20px;
	transition: all .2s ease-in-out; 
	cursor: pointer;
}

#continueBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.1); 
}

#shippingBackBtn, #billingBackBtn{
	height:40px; 
	width: 200px; 
	border-radius:10px; 
	background-color: #000000; 
	color: #ffffff;
	margin-top: 20px;
	transition: all .2s ease-in-out; 
	cursor: pointer;
}

#shippingBackBtn:hover, #billingBackBtn:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transform: scale(1.1); 
}

#paycardimg{
	height: 30px;
	width: 50px;
	margin-top: 30px;
	margin-left: 25px;
}

/* SHIPPING PAGE END */

/* SEARCH BAR */
#searchBarForm{
    display:inline-flex;
}
/* SEARCH BAR END */

/* CONFIRMATION PAGE START */

#confirmationForm{
	background-color:white;
	padding: 90px;
	height: auto;
	width: 800px;
	margin: auto;
	
}

/* CONFIRMATION PAGE END */