
* {
padding: 0px;
margin: 0px;
}

header {
	background: white;
	
}

#logo {
	margin: 18px auto 18px 50px;
}

body {
		background: Gainsboro;
}

nav {
	 height: 50px;
 background-color: DimGray;
 margin-bottom: 0px;
 font-family: arial, Serif;
}

 nav li {
float: left;
list-style-type: none;
width: 25%;
line-height: 50px;
text-align: center;

 }
 
#ski {
	 width:330px;
 }
 
 #submenu {
	width:940px;
	

 }
 
 #submenu ul {
	 background:Gainsboro;
	 margin-bottom: 20px;
 }
 
#submenu li {
	list-style-type:none;
	float: left;
	text-align:center;
width:20%;


	line-height:45px;
}

#submenu a {
	
}

 
 
  nav a {
 text-decoration: none;
 display: block;
 color: white;
 }
 
 nav a:hover {
 background-color: orange;
 color: white;
 }
 
#wrapper {
	width: 940px;
	margin: 0 auto 0 auto;
	background:white;
	overflow:hidden;

}

#wrapper2 {
	width: 940px;
	margin: 0 auto 0 auto;
	background: Gainsboro;
	overflow:hidden;
}

#homemain {
	border-bottom: 3px solid #588FBE;
	margin: 0px;
}

#about {
	height: 251px;
}

#drawings {
	height:430px;
}

#wide {
	width: 940px;
	background:white;
	border-bottom: 10px solid Gainsboro;
	padding-left: 45px;
	margin: 0 auto 0 auto;
}

main {

width: 545px;
	margin-top:-12px;
	padding: 10px 5px 18px 18px;
	float: left;
	border-right:4px solid Gainsboro;
	border-top:8px solid Gainsboro;
	border-bottom:12px solid Gainsboro;
	margin-bottom:0px;
	
}

ul.slides {
	margin-top:0px;
}

h1 {
	font-family: Arial, Serif;
	color: bold;
	font-style: bold, italic;
	font-size:2em;
	margin-bottom:7px;
	color: #5f5f5f;
}

h3 {
	font-family: Calibri, Arial, Serif;
	font-size:.9em;
	font-size:italic;
}

p #demo {
    font-family: Calibri, Arial, Serif;
	font-size:.1em;
	font-size:italic;
}

main p {
	color: #5f5f5f;
	font-family: Calibri, Arial, Serif;
	font-size:.9em;
	line-height:1.4;
}

h1#dimension {
	padding-top: 40px;
	color: #5f5f5f;
}

h3#contact {
	padding-bottom: 220px;
}

aside p {
	color: #5f5f5f;
	font-family: Calibri, Arial, Serif;
	font-size:.9em;
	line-height:1.4;
}

aside {
	width: 334px;
	margin-top:-12px;
	float: right;
	padding: 10px 15px 18px 15px;
	font-family: Arial, Serif;
	color: #5f5f5f;
	border-top:8px solid Gainsboro;
	border-bottom:12px solid Gainsboro;
	border-left:4px solid Gainsboro;
	height: 199px;
	
}

aside {
	font-family: Calibri, Arial, Serif;
}

aside h3 {
	font-family: Arial, Serif;
	font-style: italic;
	padding-bottom: 7px;
	font-size:1.5em;
}

 div.box1,
 div.box2,
 div.box3 {
	padding: 5px 3px 2px 0;
	 float: left;
	 margin-bottom: .007em;	 
 }
 
  div.box4,
 div.box5,
 div.box6 {
	padding: 2px 3px 5px 0;
	 float: left;
	 margin-bottom: .007em;	 
 }
 
 div.box1 img {
	
	
 }

div.box1 a:hover {
	 background:orange;
 }
 
div.box2 a:hover {
	 background:orange; 
 }
  
  div.box3 a:hover {
	 background:orange; 
 }
  
  div.box4 a:hover {
	 background:orange;
 }
 
div.box5 a:hover {
	 background:orange; 
 }
  
  div.box6 a:hover {
	 background:orange; 
 }
  
  
  div.box3 {
	
 }
 
footer {
	height: 100px;
	background: white;
	border-top: 1px solid gray;
	clear: both;
	font-family: Arial, Serif;
	font-size: 13px;
	color: #5f5f5f;
	
}

 footer li {
float: left;
list-style-type: none;
width: 25%;
line-height: 100px;
text-align: center;
 }